<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortname.sorteio">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_present"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sorteio">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListPrimarySemesterActivity" />
        <activity android:name=".SecondarySemesterActivity" />
        <activity android:name=".PrimarySemesterActivity" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>